# Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Codemagic
*.ipa
*.dSYM.zip
*.dSYM

# OS
.DS_Store
Thumbs.db

# Auth keys - DO NOT COMMIT
*.p8
